---
import Layout from "@layouts/Layout.astro";
import VariantSelector from "@components/VariantSelector.svelte";
import Sections from "@components/Sections.astro";

import { productsQuery, productQuery } from "@lib/queires";
import { stripHtml } from "@lib/helpers";
import { processNestedImages } from "@lib/image";

import { loadQuery } from "@lib/load-query";
import type { ProductsData, ProductData } from "@/types";

export async function getStaticPaths() {
  const { data: products } = await loadQuery<ProductsData[]>({
    query: productsQuery,
  });

  return products.map((product) => {
    return {
      params: {
        slug: product.slug.current,
      },
      props: {
        productId: product.productId,
      },
    };
  });
}

const { params, props } = Astro;
const { productId } = props;

const { data: rawProduct } = await loadQuery<ProductData>({
  query: productQuery,
  params: {
    ...params,
    productId,
  },
});

const product = await processNestedImages(rawProduct);

const pageSeo = {
  title: product?.details?.seo?.title || product?.details?.store?.title || "",
  description:
    product?.details?.seo?.description ||
    stripHtml(product?.details?.store?.descriptionHtml) ||
    "",
  keywords: product?.details?.seo?.keywords || [],
  image: product?.details?.store?.previewImageUrl,
};
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{product.details.store.title}</h1>

  <VariantSelector
    title={product.details.store.title}
    variants={product.variants}
    client:load
  />

  <Sections sections={product.details.sections} />
</Layout>
