---
export const prerender = false;

import Layout from "@layouts/Layout.astro";
import VariantSelector from "@components/VariantSelector.svelte";
import Sections from "@components/Sections.astro";

import { productQuery } from "@utils/queires";
import { stripHtml } from "@utils/helpers";

import { fetchPage } from "@utils/load-query";
import type { ProductData } from "@/types";
import type { QueryParams } from "sanity";

const params = Astro.params as QueryParams;

const { data: product } = await fetchPage<ProductData>({
  query: productQuery,
  params,
});

if (!product) return Astro.redirect("/404");

const pageSeo = {
  title: product?.details?.seo?.title || product?.details?.store?.title || "",
  description:
    product?.details?.seo?.description ||
    stripHtml(product?.details?.store?.descriptionHtml) ||
    "",
  keywords: product?.details?.seo?.keywords || [],
  image: product?.details?.store?.previewImageUrl,
};
---

<Layout seo={pageSeo}>
  <h1 class="text-h1">{product.details.store.title}</h1>

  <VariantSelector
    title={product.details.store.title}
    variants={product.variants}
    client:load
  />

  <Sections sections={product.details.sections} />
</Layout>
