---
import { sanityClient } from "sanity:client";

import { settingsQuery } from "@utils/queires";

import type { SiteSettings, SEO } from "../types";

const settings: SiteSettings = await sanityClient.fetch(settingsQuery);

const { title, description, keywords, image } = Astro.props;

const siteSEO: SEO = {
  title:
    title && settings?.seo?.title
      ? `${title} - ${settings.seo.title}`
      : title || settings?.seo?.title || "",
  description: description || settings?.seo?.description,
  keywords: keywords || settings?.seo?.keywords,
  image: {
    asset: {
      _ref: "",
    },
    url: image?.url || settings?.seo?.image?.url,
  },
  favicon: {
    asset: {
      _ref: "",
    },
    url: settings?.seo?.favicon?.url,
  },
};
---

{siteSEO?.title && (
  <title>{siteSEO.title}</title>
  <meta property="og:title" content={siteSEO.title} />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={siteSEO.title} />
)}

{siteSEO?.description && (
  <meta name="description" content={siteSEO.description} />
  <meta property="og:description" content={siteSEO.description} />
  <meta name="twitter:description" content={siteSEO.description} />
)}

{siteSEO?.keywords && <meta name="keywords" content={siteSEO.keywords.join(", ")} />}

{siteSEO?.image && (
  <meta property="og:image" content={siteSEO?.image.url} />
  <meta name="twitter:image" content={siteSEO?.image.url} />
)}

{siteSEO?.favicon && <link rel="icon" type="image/png" href={siteSEO?.favicon.url} />}